.search-form {
    border-color: #ec6e4b;
    padding: 10px 0;
    border-radius: 10px;
  }
  
  .row-search {
    display: flex;
    padding: 10px;
  }
  .btn-search {
    margin-left: 10px;
    background-color: #989899;
    border-color: #989899;
    border-radius: 10px;
    padding: 10px 20px;
  }
  
  a:hover {
    color: #ec6e4b;
  }
  