.WeatherForecast {
    text-align: left;
}

.WeatherForecast canvas {
    height: 20px;
    margin: 10px 5px 0;
}

.WeatherForecast .weatherForecast-max-temp{
    font-weight: 400;
}
.WeatherForecast .weatherForecast-min-temp{
opacity: 0.6;
}