:root{
    --branding-color: #FFA502;
}
.Weather {
    border: 1px solid #dadde1;
    box-shadow: 4px 8px 12px 4px rgba(24, 23, 21, 0.5);
    border-radius: 5px;
    padding: 20px;
    margin: 60px auto 5px;
    font-family: arial, sans-serif;
    max-width: 650px;
}
.Weather a {
    text-decoration: none !important; 
    cursor: default;
    color: #B2B0BC;
}

.Weather h2{
    color: #49484a;
    margin: 20px 0 0 0;
}

.Weather li{
    font-size: 16px;
    font-weight: 100;
    height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    display: block;
    color: #B2B0BC;

}
.Weather .temperature{
    font-size: 48px;
    line-height: 100px;
    font-weight: 400;
    margin-left: 0;
}

.Weather .unit{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
}
.Weather canvas{
    padding:0;
    margin-top: 25px;
    margin-right: 5px;
    display:inline-block;
}
.Weather form{
    display: flex;
}

.Weather .btn-outline-warning {
    --bs-btn-color: var(--branding-color);
    --bs-btn-border-color: var(--branding-color);
    --bs-btn-hover-bg: var(--branding-color);
    --bs-btn-hover-border-color: var(--branding-color);
    --bs-btn-active-bg: var(--branding-color);
    --bs-btn-active-border-color: var(--branding-color);
    --bs-btn-disabled-color: var(--branding-color);
    --bs-btn-disabled-border-color: var(--branding-color);
}

